body {
    font-family: Arial;
    text-align: center;
    background-color: #f4f4f4;
}

.weather-app {
    max-width: 300px;
    margin: 50px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
}

input {
    padding: 10px;
    margin: 10px 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    cursor: pointer;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
}

#weatherResult {
    margin-top: 20px;
}

#weatherResult p {
    margin: 5px 0;
    font-size: 18px;
}

#weatherIcon {
    margin-top: 10px;
    width: 80px;
}
